<div class="card">
    {% if module.field_group.employee_image.src %} {% set sizeAttrs = 'width="{{
    module.field_group.employee_image.width }}" height="{{
    module.field_group.employee_image.height }}"' %} {% if
    module.field_group.employee_image.size_type == 'auto' %} {% set sizeAttrs =
    'style="max-width: 100%; height: auto;"' %} {% elif
    module.field_group.employee_image.size_type == 'auto_custom_max' %} {% set
    sizeAttrs = 'width="{{ module.field_group.employee_image.max_width }}"
    height="{{ module.field_group.employee_image.max_height }}" style="max-width:
    100%; height: auto;"' %} {% endif %} {% set loadingAttr =
    module.field_group.employee_image.loading != 'disabled' ? 'loading="{{
    module.field_group.employee_image.loading }}"' : '' %}
    <img src="{{ module.field_group.employee_image.src }}" alt="{{ module.field_group.employee_image.alt }}" {{
        loadingAttr }} {{ sizeAttrs }} />
    {% endif %}
    <h1>
        {% inline_text field="field_group.employee_name" value="{{
        module.field_group.employee_name }}" %}
    </h1>
    <p class="title">
        {% inline_text field="field_group.employee_title" value="{{
        module.field_group.employee_title }}" %}
    </p>

    {% set href = module.field_group.employee_email_link.url.href %} {% if
    module.field_group.employee_email_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %} {% endif %}
    <a href="{{ href }}" {% if module.field_group.employee_email_link.open_in_new_tab %}target="_blank" {% endif %} {%
        if module.field_group.employee_email_link.rel %}rel="{{ module.field_group.employee_email_link.rel }}" {% endif
        %}>
        {% inline_text field="field_group.email_text" value="{{
        module.field_group.email_text }}" %}
    </a>
    {% set href = module.field_group.employee_linkedin.url.href %} {% if
    module.field_group.employee_linkedin.url.type is equalto "EMAIL_ADDRESS" %} {%
    set href = "mailto:" + href %} {% endif %}
    <a href="{{ href }}" {% if module.field_group.employee_linkedin.open_in_new_tab %}target="_blank" {% endif %} {% if
        module.field_group.employee_linkedin.rel %}rel="{{ module.field_group.employee_linkedin.rel }}" {% endif %}>
        Linkedin
    </a>
</div>